// Font sizes
$tellwut--fz-10:1rem;
$tellwut--fz-11:1.1rem;
$tellwut--fz-12:1.2rem;
$tellwut--fz-13:1.3rem;
$tellwut--fz-14:1.4rem;
$tellwut--fz-15:1.5rem;
$tellwut--fz-16:1.6rem;
$tellwut--fz-17:1.7rem;
$tellwut--fz-18:1.8rem;
$tellwut--fz-19:1.9rem;
$tellwut--fz-20:2.0rem;
$tellwut--fz-21:2.1rem;
$tellwut--fz-22:2.2rem;
$tellwut--fz-23:2.3rem;
$tellwut--fz-24:2.4rem;
$tellwut--fz-25:2.5rem;
$tellwut--fz-26:2.6rem;
$tellwut--fz-27:2.7rem;
$tellwut--fz-28:2.8rem;

// line height
$tellwut--lh-10:1rem;
$tellwut--lh-11:1.1rem;
$tellwut--lh-12:1.2rem;
$tellwut--lh-13:1.3rem;
$tellwut--lh-14:1.4rem;
$tellwut--lh-15:1.5rem;
$tellwut--lh-16:1.6rem;
$tellwut--lh-17:1.7rem;
$tellwut--lh-18:1.8rem;
$tellwut--lh-19:1.9rem;
$tellwut--lh-20:2.0rem;
$tellwut--lh-21:2.1rem;
$tellwut--lh-22:2.2rem;
$tellwut--lh-23:2.3rem;


// Font weight
$tellwut--fw-thin:100; 
$tellwut--fw-extralight:200; 
$tellwut--fw-light:300; 
$tellwut--fw-regular:400; 
$tellwut--fw-medium:500;  
$tellwut--fw-semibold:600;  
$tellwut--fw-bold:700;  
$tellwut--fw-extrabold:800;  
$tellwut--fw-Xbold:900; 



//font Family
$tellwut--ff-default:'Poppins',sans-serif; 
